<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zmr.system.mapper.SysMenuMapper">


    <select id="getMaxSort" resultType="int">
        select ifnull(max(t.sort), 0)
        from sys_menu t
    </select>
</mapper>

